.idea
.vscode
.zed
upload
*.exe
*.db
build
*.db-journal
logs
web/dist
.env
one-api
new-api
/__debug_bin*
.DS_Store
tiktoken_cache
tmp/
oneapi
quota_warning_1.txt
error_warning.txt
pprof/
py/
.eslintcache
.gocache

electron/node_modules
electron/dist
